[
    {
      "ParameterKey": "VPC",
      "ParameterValue": "${VPC}"
    },
    {
      "ParameterKey": "AmiId",
      "ParameterValue": "${AmiId}"
    },
    {
      "ParameterKey": "InstanceType",
      "ParameterValue": "${InstanceType}"
    },
    {
      "ParameterKey": "LBSubnets",
      "ParameterValue": "${LBSubnets}"
    },
    {
      "ParameterKey": "Subnets",
      "ParameterValue": "${Subnets}"
    },
    {
      "ParameterKey": "DNS",
      "ParameterValue": "${DNS}"
    },
    {
      "ParameterKey": "Alias",
      "ParameterValue": "${Alias}"
    }
  ]
