[
    {
        "ParameterKey" : "EnvironmentName",
        "ParameterValue" :"${environment}" 
    },

    {
        "ParameterKey":"VpcCIDR",
        "ParameterValue":"${vpcCIDR}" 
    } ,

    {
        "ParameterKey":"PublicSubnet1CIDR",
        "ParameterValue":"${PublicSubnet1CIDR}" 
    } ,

    { "ParameterKey":"PublicSubnet2CIDR",
    "ParameterValue":"${PublicSubnet2CIDR}"  },

    {
        "ParameterKey":"PrivateSubnet1CIDR",
        "ParameterValue":"${PrivateSubnet1CIDR}" 
    }

    ,
    {
        "ParameterKey":"PrivateSubnet2CIDR"
        ,"ParameterValue":"${PrivateSubnet2CIDR}" 
    },

    {
        "ParameterKey":"ClusterName",
        "ParameterValue":"${ClusterName}" 
    },

    {
        "ParameterKey":"ClusterVersion"
        ,"ParameterValue":"${ClusterVersion}" 
     } ,

     {
        "ParameterKey":"Product"
        ,"ParameterValue":"${Product}"  
    
     } ,

     {
        "ParameterKey":"ApplicationName"
        ,"ParameterValue":"${ApplicationName}"  }
   ,

   {
    "ParameterKey":"ProductOwnerEmail",
    "ParameterValue":"${ProductOwnerEmail}"  
    
   },

   {
    "ParameterKey":"ImageAmi"
    ,"ParameterValue":"${nodeAmiId}"
   }

]   
